div#google_base_map h1 { margin: 10px 0px; }
div#google_base_map div.headers { font-size: 1.2em; font-weight: bold; }
div#google_base_map p { margin: 5px 0px; clear: both; }
div#google_base_map label { float: left; width: 150px; }
div#google_base_map input.category { margin: 0px 10px; width: 400px; }
div#google_base_map input.priority { margin: 0px 40px 0px 10px; width: 30px; }
div#google_base_map div.category { margin: 0px 10px; width: 400px; float: left; }
div#google_base_map div.priority { margin: 0px 40px 0px 10px; width: 30px; float: left; }
